


.movie__card {
    background-color: rgb(251, 172, 100);
    border: 5px solid black;
    border-radius: 8px;
    margin: 10px;
    width: 45%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-decoration: none;
}
.movie__card:hover {
    cursor: pointer;
    background-color: rgb(255, 156, 63);
}

.movie__overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.movie__card__header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.movie__card__body {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.movie__card__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.movie__card__info p {
    padding: 10px 0;
}

@media (max-width: 768px) {
    .movie__card {
        width: calc(100% - 20px);
    }
}