.home {
    display: flex;
    width: 100%;
}
.home__parallax {
    background-color: transparent;
    flex: 1;
}
.home__content {
    background-color: transparent;
    flex: 3;

    position: relative;
}
.chat {
    flex: 1;
}

@media (max-width: 768px) {
    .home__parallax {
        display: none;
    }
    .home__content {
        /* flex: 1; */
        width: 100%;
    }
    .chat {
        display: none;
    }
}