header {
    height: 100vh;
    background: transparent;
    background-size: cover;
    background-position: center;
}

.header__title {
    display: flex;
}
.popcorn__img {
    width: 400px;
    height: 400px;
}

.header__content h1 {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 8vw;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.header__content h1 span {
    color: #fb2e01;
    text-shadow: 3px 3px #aa1f00, -4px -4px black;
}

.header__content h2 {
    font-size: 6vw;
    font-family: 'Pacifico', cursive; /* Example of a retro font, you can choose another */
    color: #f39c12;
    text-shadow: 3px 3px #e74c3c, -4px -4px black;
    padding: 20px;
}