

.detail__event__card {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: rgb(111, 158, 131);
    margin: 50px auto;
    gap: 20px;
    opacity: 0.9;
    box-shadow: 1px 4px 1px 1px rgb(50, 82, 64), 0px 6px 1px 2px rgba(10, 10, 10, 0.5);
}

.detail__card__img {
    width: 100%;
    background-position: center;
    background-size: cover;
}

.detai__event__title {
    text-align: center;
    padding: 10px;
    font-family: "Bungee", sans-serif;
    color: #fb2e01;
    text-shadow: 3px 3px #aa1f00, -2px -2px black;
}

.detail__event__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Pacifico';
    font-size: 18px;
    gap: 20px;
}

.detail__event__header h2 {
    font-family: 'Pacifico', cursive; /* Example of a retro font, you can choose another */
    color: #f39c12;
    text-shadow: 3px 3px #e74c3c, -3px -3px black;
    font-size: 30px;
}

.details {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.detail__snacks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-family: 'Pacifico';
    font-size: 18px;
    list-style-type: none;
    gap: 20px;
}

.detail__snacks h2 {
    font-family: 'Pacifico', cursive; /* Example of a retro font, you can choose another */
    color: #f39c12;
    text-shadow: 3px 3px #e74c3c, -3px -3px black;
    font-size: 30px;
}

.snacks__container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style-type: none;
}

.detail__participants {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-family: 'Pacifico';
    font-size: 18px;
    list-style-type: none;
    gap: 20px;
}

.detail__participants h2 {
    font-family: 'Pacifico', cursive; /* Example of a retro font, you can choose another */
    color: #f39c12;
    text-shadow: 3px 3px #e74c3c, -3px -3px black;
    font-size: 30px;
}

.participants__container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style-type: none;
}

.participant__img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 3px solid red;
}
.participant {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.participant__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.participant__empty button {
    background-color: transparent;
    border: none;
    margin: 0;
}

.participant__empty button:hover {
    cursor: pointer;
}

.participant__img__empty {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.event__btn {
    margin: 20px;
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
    cursor: pointer;
    display: block;
    color: #fdf0c1;
    width: auto;
    padding: 16px;
    border-radius: 4px;
    text-align: center;
    transition: box-shadow ease .1s;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.event__btn:active {
    transform: translateY(4px);
    box-shadow: 0px 0px 0px 0px rgba(10, 10, 10, 0.5);
}

.event__btn__primary {  
    background: rgb(251, 55, 15);
    box-shadow: 1px 4px 1px 1px rgb(124, 26, 7), 0px 6px 1px 2px rgba(10, 10, 10, 0.5);
}

.event__btn__primary:hover{
    color: white;
}

.detail__description {
    font-family: 'Pacifico', cursive; /* Example of a retro font, you can choose another */
    color: #ffffff;
    text-shadow: 3px 3px #454545, -3px -3px black;
    font-size: 25px;
    text-align: center;
}