
.upcoming__events {
    background: transparent;
}

.upcoming__events__title {
    font-size: 4vw;
    font-family: 'Pacifico', cursive;
    color: #f39c12;
    text-shadow: 3px 3px #e74c3c, -4px -4px black;
    padding: 20px;
    text-align: center;
}
.upcoming__events__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}
.upcoming__event__card {
    background-color: rgb(251, 172, 100);
    border: 5px solid black;
    border-radius: 8px;
    margin: 20px;
    width: calc(45% - 20px);
    height: 300px;
    padding: 10px;
    display: flex;
    gap: 30px;
}
.upcoming__event__card:hover {
    cursor: pointer;
    background-color: rgb(255, 156, 63);
}
.upcoming__event__card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
}

.upcoming__btn {
    margin: 10px auto;
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
    cursor: pointer;
    display: block;
    color: rgb(251, 172, 100);
    width: 100%;
    padding: 16px;
    border-radius: 4px;
    text-align: center;
    transition: box-shadow ease .1s;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.upcoming__btn:active {
    opacity: 0.8;
    transform: translateY(4px);
    box-shadow: 0px 0px 0px 0px rgba(10, 10, 10, 0.5);
}

.upcoming__btn__primary {  
    background: rgb(251, 55, 15);
    box-shadow: 1px 4px 1px 1px rgb(124, 26, 7), 0px 6px 1px 2px rgba(10, 10, 10, 0.5);
}
.upcoming__btn__primary:hover {
    color: white;
}
  
  @media (max-width: 768px) {
    .upcoming__event__card {
      width: calc(100% - 20px);
    }
  }