/* Actors Section */
.actors {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    width: 90%;
    margin: auto;
}

.actors__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0;
}

.actors__container {
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 20px 0;
    flex-wrap: wrap;
    justify-content: center;
}

.actor__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    gap: 10px;
}

.actor__card img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}



/* Responsive Design */
@media (max-width: 768px) {
    .actors__container {
        gap: 10px;
    }

    .actor__card img {
        height: 80px;
        width: 80px;
    }
}

@media (max-width: 480px) {
    .actors__container {
        gap: 5px;
    }

    .actor__card img {
        height: 60px;
        width: 60px;
    }
}